#!/usr/bin/make -f

DEBVERS    ?= $(shell dpkg-parsechangelog -SVersion)
VERSION    ?= $(shell echo '$(DEBVERS)' | sed 's/^[[:digit:]]*://; s/[-].*//')
DEBPKGNAME ?= $(shell dpkg-parsechangelog -SSource)
DEBDATE    ?= $(shell dpkg-parsechangelog -SDate)

DEB_HOST_ARCH_OS := $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)
BUILD_DATE := $(shell dpkg-parsechangelog --show-field Date)

define checkdir
	test -f debian/rules
endef

clean:
	$(checkdir)
	rm -rf debian/alertmanager debian/files

binary-indep:

binary-arch: checkroot
	$(checkdir)
	rm  -rf debian/alertmanager
	install -m 755 -d debian/alertmanager/DEBIAN \
                 -d debian/alertmanager/usr \
                 -d debian/alertmanager/usr/bin \
                 -d debian/alertmanager/etc \
                 -d debian/alertmanager/etc/alertmanager
	install -m 644 debian/conffiles debian/alertmanager/DEBIAN
	install -m 644 simple.yml debian/alertmanager/etc/alertmanager/alertmanager.yml
	install -m 755 debian/postinst debian/alertmanager/DEBIAN
	install -m 755 debian/postrm debian/alertmanager/DEBIAN
	install -m 755 alertmanager debian/alertmanager/usr/bin/alertmanager
	strip -R .comment -R .note debian/alertmanager/usr/bin/alertmanager
	cd debian/alertmanager && find . -type f ! -regex '.*DEBIAN/.*' -printf '%P\0' | LC_ALL=C sort -z | xargs -r0 md5sum > DEBIAN/md5sums
	dpkg-gencontrol -v$(DEBVERS) -T -palertmanager -Pdebian/alertmanager
	find debian/alertmanager -depth -newermt '$(BUILD_DATE)' -print0 | xargs -0r touch --no-dereference --date='$(BUILD_DATE)'
	chown -R root.root debian/alertmanager
	chmod -R g-ws debian/alertmanager
	dpkg --build debian/alertmanager ..


binary: binary-arch

build:
build-arch:
build-indep:

checkroot:
	test root = "`whoami`"

.PHONY: build clean binary-indep build-arch binary checkroot
