#!/usr/bin/make -f

DEBVERS    ?= $(shell dpkg-parsechangelog -SVersion)
VERSION    ?= $(shell echo '$(DEBVERS)' | sed 's/^[[:digit:]]*://; s/[-].*//')
DEBPKGNAME ?= $(shell dpkg-parsechangelog -SSource)
DEBDATE    ?= $(shell dpkg-parsechangelog -SDate)

DEB_HOST_ARCH_OS := $(shell dpkg-architecture -qDEB_HOST_ARCH_OS)
BUILD_DATE := $(shell dpkg-parsechangelog --show-field Date)

define checkdir
	test -f debian/rules
endef

clean:
	$(checkdir)
	rm -rf debian/mysqld-exporter debian/files

binary-indep:

binary-arch: checkroot
	$(checkdir)
	rm  -rf debian/mysqld-exporter
	install -m 755 -d debian/mysqld-exporter/DEBIAN \
                 -d debian/mysqld-exporter/usr \
                 -d debian/mysqld-exporter/usr/bin \
                 -d debian/mysqld-exporter/etc \
                 -d debian/mysqld-exporter/etc/default \
                 -d debian/mysqld-exporter/etc/init
	install -m 644 debian/conffiles debian/mysqld-exporter/DEBIAN
	install -m 755 debian/postrm debian/mysqld-exporter/DEBIAN
	install -m 755 debian/postinst debian/mysqld-exporter/DEBIAN
	install -m 755 debian/prerm debian/mysqld-exporter/DEBIAN
	install -m 644 mysqld-exporter.conf debian/mysqld-exporter/etc/init
	install -m 644 mysqld-exporter.default debian/mysqld-exporter/etc/default/mysqld-exporter
	install -m 755 mysqld_exporter debian/mysqld-exporter/usr/bin/mysqld_exporter
	strip -R .comment -R .note debian/mysqld-exporter/usr/bin/mysqld_exporter
	cd debian/mysqld-exporter && find . -type f ! -regex '.*DEBIAN/.*' -printf '%P\0' | LC_ALL=C sort -z | xargs -r0 md5sum > DEBIAN/md5sums
	dpkg-gencontrol -v$(DEBVERS) -T -pmysqld-exporter -Pdebian/mysqld-exporter
	find debian/mysqld-exporter -depth -newermt '$(BUILD_DATE)' -print0 | xargs -0r touch --no-dereference --date='$(BUILD_DATE)'
	chown -R root.root debian/mysqld-exporter
	chmod -R g-ws debian/mysqld-exporter
	dpkg --build debian/mysqld-exporter ..


binary: binary-arch

build:
build-arch:
build-indep:

checkroot:
	test root = "`whoami`"

.PHONY: build clean binary-indep build-arch binary checkroot
