Package: alertmanager
Version: 0.3.0-1
Architecture: amd64
Maintainer: Kaija Chang <kaija.chang@gmail.com>
Installed-Size: 9631
Section: net
Priority: extra
Description: Alertmanager for Prometheus
 Prometheus is a systems and services monitoring system. It collects metrics
 from configured targets at given intervals, evaluates rule expressions,
 displays the results, and can trigger alerts if some condition is observed to
 be true.
